@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (NewsItemsRow)Model.Content;
    var settings = (NewsItemsRowSettings)Model.Settings;
    if (settings?.Hide ?? false) { return; }
    if (row.NewsItems == null || !row.NewsItems.Any()) return;
}

<div class="row gx-4 gx-lg-5 justify-content-center">

    <header class="text-center">
        <p>@row.Titel</p>
    </header>

    @foreach (var item in row.NewsItems)
    {
        var rowItem = (NewsItem)item.Content;
        var rowSettings = (NewsItemsSettings)item.Settings;
        if (rowSettings.Hide) continue;

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">@rowItem.Ueberschrift</h3>
                    @if (rowItem.Teaserbild != null)
                    {
                        <img class="img-fluid mb-3" src="@rowItem.Teaserbild.GetCropUrl(300,400)" alt="@rowItem.Teaserbild.Name">
                    }
                    <p class="card-text">@rowItem.Teasertext</p>
                    <p class="card-text"><a class="btn btn-sm" href="#!">Weitere Infos</a></p>
                </div>
            </div>
        </div>
    }
</div>